<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---------------------------------------LINKS DO BOOTSTRAP CSS E JAVASCRIP INICIO------------------------------------------->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!---------------------------------------LINKS DO BOOTSTRAP CSS E JAVASCRIP FIM---------------------------------------------->

    <!---------------------------------------LINK DO BOOTSTRAP ICONS INICIO------------------------------------------------------>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <!---------------------------------------LINK DO BOOTSTRAP ICONS FIM--------------------------------------------------------->
    <link rel="ícone de atalho" href="/img/logopagina.png" type="image/x-icon">

    <script src="/script/script-areaCliente.js" defer></script>
    <script src="/script/script-validacao.js" defer></script>
    <link rel="stylesheet" href="/css_geral/estilo_areaCliente.css">
    <title>Área Cliente</title>
</head>

<body>
    <!------------------------------------HTML BARRA DE NAVEGAÇÃO E MENU LATERAL INICIO------------------------------------------>
    <header>
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a href="/home" class="navbar-brand"><img src="/img/logopagina.png"
                        alt="Logo Coração">Laboratório<span>Vida</span></a>
                <div>
                    <p class="text-end m-2 text-capitalize"><span id="nomeuser" th:text="${session.secaoIniciada.nome}">
                        </span><i class=" m-1 bi bi-person-circle fs-1" id="nomeUsuario"></i></p>
                </div>
            </div>

        </nav>
    </header>
    <div id="menu" class="container p-2">
        <ul class="list-group list-group-flush">
            <li id="click1" class="list-group-item"><i class="bi bi-view-list  fs-1"></i>Minhas Solicitações</li>
            <li id="click2" class="list-group-item"><i class="bi bi-plus-circle  fs-1"></i>Nova Consultas</li>
            <li id="click3" class="list-group-item "><i class="bi bi-plus-circle  fs-1"></i>Novo Exames</li>
            <li class="list-group-item fixed-bottom">
                <form action="/logout" method="post">
                    <button id="btnsair" type="submit"><i class="bi bi-box-arrow-right fs-1"></i>Sair</button>
                </form>
            </li>
        </ul>
    </div>

    <!------------------------------------HTML PÁGINA MINHAS SOLICITAÇÕES INICIO------------------------------------------------->
    <div id="msolicitacao" class="container-fluid">
        <h1 class="text-center">Minhas Solicitações</h1>
        <hr class="w-25 mx-auto">
        <div class="row g-3">
            <div class="col-6">
                <legend id="solicitacoesConsultas" class="text-center" ><i class="bi bi-clipboard-pulse  fs-1"></i>Consultas</legend>
                <hr class="w-25 mx-auto">
            </div>
            <div class="col-6">
                <legend id="solicitacoesExames" class="text-center"><i class="bi bi-bandaid  fs-1"></i>Exames</legend>
                <hr class="w-25 mx-auto">
            </div>
        </div>
        <div id="conteudo" class="row g-3">
            <fieldset id="sConsultas" class="border rounded-2 p-3 m-1 col-6">
                <legend class="float-none w-auto">Últimas Consultas</legend>
                <div id="tabelaconsultas">
                    <table class="table table-striped text-break">
                        <thead>
                            <tr >
                                <th  scope="col">Paciente</th>
                                <th scope="col">Especialidade</th>
                                <th scope="col">Médico</th>
                                <th scope="col">Data da Consulta</th>
                                <th scope="col">Hórario da Consulta</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  th:each="agendamento:${agendamentos}">
                                <th class="text-capitalize"  th:text="${agendamento.paciente}" scope="row"></th>
                                <th class="text-capitalize" th:text="${agendamento.especialidade}" scope="row"></th>
                                <th class="text-capitalize" th:text="${agendamento.medicos}" scope="row"></th>
                                <th th:text="${agendamento.dataAgendamentoConsulta}" scope="row"></th>
                                <th th:text="${agendamento.horarioConsulta}" scope="row"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
             <fieldset id="sExames" class="border rounded-2 p-3 m-1 col-5">
                <legend class="float-none w-auto">Útimos Exames</legend>
                <div id="tabelaexames">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Paciente</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Medico Solicitante</th>
                                <th scope="col">Valor</th>
                                <th scope="col">Data do Exame</th>
                                <th scope="col">Horário Exame</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="exame:${exames}">
                                <th th:text="${exame.paciente}" scope="row"></th>
                                <th th:text="${exame.tipoExame}" scope="row"></th>
                                <th th:text="${exame.medicoSolicitante}" scope="row"></th>
                                <th th:text="${exame.valorExame}" scope="row"></th>
                                <th th:text="${exame.dataAgendamentoExame}" scope="row"></th>
                                <th th:text="${exame.horarioExame}" scope="row"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>

    <!------------------------------------HTML PÁGINA CONSULTAS INICIO----------------------------------------------------------->
    <section id="consultas" class="consultas">
        <div class="container">
            <h1 class="text-center">Agendar Consultas</h1>
            <hr class="w-25 mx-auto">
            <form action="/agendarConsultas" method="post" class="needs-validation" novalidate>
                <fieldset class="border row g-3 rounded-2 p-3 m-2">
                    <legend class="float-none w-auto">Dados paciente</legend>

                    <div class="col-md-4">
                        <label for="paciente" class="form-label">Paciente :</label>
                        <input name="paciente" id="paciente" class="text-capitalize form-control"><span id="spanpaci" 
                            th:text="${session.secaoIniciada.nome +' '+ session.secaoIniciada.sobrenome}">
                            </span>
                        
                    </div>
                    <div class="col-md-2">
                        <label for="telefone" class="form-label">Telefone :</label>
                        <input class="form-control" name="telefone" id="telefone"><span id="spantel"
                            th:text="${session.secaoIniciada.telefone}"></span>
                    </div>
                    <div class="col-md-3">
                        <label for="email" class="form-label">E-mail :</label>
                        <input class="form-control" type="text" name="email" id="email"><span id="spanemail" th:text="${session.secaoIniciada.email}">

                        </span>
                    </div>

                    <div class="col-md-2">
                        <label for="dataNascimento" class="form-label">Data de nascimento</label>
                        <input class="form-control" name="dataNascimento" type="date" id="dataNascimento" ><span id="spandatanasc" th:text="${session.secaoIniciada.dataNascimento}"></span>
                    </div>
                    <div class="col-md-5">
                        <label for="especialidade" class="form-label">Especialidade</label>
                        <select th:text="${especialidadeMedicos}" onchange="filtrarMedicos()" class="form-select" name="especialidade" id="especialidade"
                            required>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="medicos" class="form-label">Médico</label>
                        <select onchange="filtarValor()" id="medicos" class="form-select" name="medicos" required><span></span>
                            <option >Selecione um medico</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <label for="valorConsulta" class="form-label">Valor Consulta</label>
                        <input type="text" name="valorConsulta" id="valorConsulta" class="form-control">
                    </div>

                    <div class="col-md-3">
                        <label for="dataAgendamentoConsulta" class="form-label">Selecione a data</label>
                        <input type="date" name="dataAgendamentoConsulta" id="dataAgendamentoConsulta"
                            class="form-control" required>
                    </div>
                    <div class="col-md-2">
                        <label for="horarioConsulta" class="form-label">Horário</label>
                        <input type="time" name="horarioConsulta" id="horarioConsulta" class="form-control" required>
                    </div>
                </fieldset>
                <button class="btn btn-success" type="submit">Salvar agendamento</button>
            </form>
        </div>
    </section>

    <!------------------------------------HTML PÁGINA EXAMES INICIO----------------------------------------------------------->
    <section id="exames" class="exames">
        <div class="container">
            <h1 class="text-center">Agendar Exames</h1>
            <hr class="w-25 mx-auto">
            <form action="/agendarExames" method="post" class=" needs-validation" novalidate>
                <fieldset class="border row g-3 rounded-2 p-3 m-2">
                    <legend class="float-none w-auto">Dados paciente</legend>

                    <div class="col-md-4">
                        <label for="paciente" class="form-label">Paciente</label>
                        <input name="paciente" id="pacienteExame" class="text-capitalize form-control"><span id="spanpaciExame" 
                            th:text="${session.secaoIniciada.nome +' '+ session.secaoIniciada.sobrenome}"></span>
                        
                    </div>
                    <div class="col-md-2">
                        <label for="telefone" class="form-label">Telefone</label>
                        <input class="form-control" name="telefone" id="telefoneExame"><span span id="spantelExame" 
                         th:text="${session.secaoIniciada.telefone}"></span>
                    </div>
                    <div class="col-md-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input class="form-control" type="text" name="email" id="emailExame"><span span id="spanemailExame"  
                         th:text="${session.secaoIniciada.email}"></span>
                    </div>

                    <div class="col-md-2">
                        <label for="dataNascimento" class="form-label">Data de nascimento</label>
                        <input class="form-control" name="dataNascimento" type="date" id="dataNascimentoExame" ><span id="spandatanascExame"
                         th:text="${session.secaoIniciada.dataNascimento}"></span>
                    </div>
                    <div class="col-md-5">
                        <label for="medicoSolicitante" class="form-label">Médico Solicitante</label>
                        <input class="form-control" id="medicoSolicitante" name="medicoSolicitante" type="text"
                            required>
                    </div>
                    <div class="col-md-4">
                        <label for="tipoExame" class="form-label">Tipo de exame</label>
                        <select onchange="filtarValorExame()" id="tipoExame" class="form-select" name="tipoExame" required>
                            <option> Selecione o tipo do exame</option>
                            <option th:each="exames:${tiposExames}"><span th:text="${exames.nomeExame}"></span></option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <label for="valorExame" class="form-label">Valor Exame</label>
                        <input type="text" name="valorExame" id="valorExame" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label for="dataAgendamentoExame" class="form-label">Selecione a data</label>
                        <input type="date" name="dataAgendamentoExame" id="dataAgendamentoExame" class="form-control"
                            required>
                    </div>
                    <div class="col-md-2">
                        <label for="horarioExame" class="form-label">Horário</label>
                        <input type="time" name="horarioExame" id="horarioExame" class="form-control" required>
                    </div>
                </fieldset>
                <button class="btn btn-success" type="submit">Salvar agendamento</button>
            </form>
        </div>
    </section>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let lista = /*[[${especialidadeMedicos}]]*/[];
            /*]]>*/
            const novaLista = lista.filter((list, index) => {
                return lista.findIndex(obj => obj.especialidade === list.especialidade) === index;
                
            });

    /**************************************SCRIPT CONSULTAS E EXAMES PARA AUTO PREENCHER OS CAMPOS **********************************************/
        document.addEventListener('DOMContentLoaded', function () {
        const selectEspecialidade = document.querySelector('#especialidade');
        const elementoOptionEs = document.createElement('option');
        elementoOptionEs.textContent = "Selecione uma especialidade";
        selectEspecialidade.appendChild(elementoOptionEs);
            for(let list of novaLista){
                const elementoOption = document.createElement('option');
                elementoOption.textContent =  list.especialidade;
                selectEspecialidade.appendChild(elementoOption);
            }
/************************buscar o usuario logado pela sessão e exibir no input*****************************************************************/
            document.getElementById('paciente').value = /*[[${session.secaoIniciada.nome +' '+ session.secaoIniciada.sobrenome}]]*/[];
            document.getElementById('pacienteExame').value = /*[[${session.secaoIniciada.nome +' '+ session.secaoIniciada.sobrenome}]]*/[];
            document.getElementById('telefone').value = /*[[${session.secaoIniciada.telefone}]]*/[];
            document.getElementById('telefoneExame').value = /*[[${session.secaoIniciada.telefone}]]*/[];
            document.getElementById('email').value = /*[[${session.secaoIniciada.email}]]*/[];
            document.getElementById('emailExame').value = /*[[${session.secaoIniciada.email}]]*/[];
            document.getElementById('dataNascimento').value = /*[[${session.secaoIniciada.dataNascimento}]]*/[];
            document.getElementById('dataNascimentoExame').value = /*[[${session.secaoIniciada.dataNascimento}]]*/[];
/*************************ocultar os nomes em baixo dos input*********************************************************************************/
            spanpaci.style.display = 'none';
            spanpaciExame.style.display = 'none';
            spantel.style.display = 'none';
            spantelExame.style.display = 'none';
            spanemail.style.display = 'none';
            spanemailExame.style.display = 'none';
            spandatanasc.style.display = 'none';
            spandatanascExame.style.display = 'none';
        });

        function filtrarMedicos() {
            const selectEspecialidades = document.querySelector('select').value;
            const selectMedicos = document.querySelector('#medicos');
            selectMedicos.innerHTML = "";
            const elementoOptionVa = document.createElement('option');
                    elementoOptionVa.textContent = "Selecione um medico";
                    selectMedicos.appendChild(elementoOptionVa);
            for (let list of lista) {
                if (selectEspecialidades === list.especialidade) {
                    const elementoOption = document.createElement('option');
                    elementoOption.textContent =  list.medico;
                    selectMedicos.appendChild(elementoOption);
                }
            }
        }

        function filtarValor(){
            
            const selectMedicos = document.querySelector('#medicos').value;
            
            for(let list of lista){
                if(list.medico === selectMedicos){
                   document.getElementById('valorConsulta').value = list.valor;
                }
            }
        }

        function filtarValorExame(){
            
            /*<![CDATA[*/
        let listaExames = /*[[${tiposExames}]]*/[];
            /*]]>*/
            const selectExame = document.querySelector('#tipoExame').value;
            for(let list of listaExames){
                if(list.nomeExame === selectExame){
                   document.getElementById('valorExame').value = list.valor;
                }
            }
        }

    </script>
</body>

</html>