<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---------------------------------------LINKS DO BOOTSTRAP CSS E JAVASCRIP INICIO------------------------------------------->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!---------------------------------------LINK DO BOOTSTRAP ICONS INICIO------------------------------------------------------>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <link rel="ícone de atalho" href="/img/logopagina.png" type="image/x-icon">
    <script src="/script/script-areaAdmin.js" defer></script>
    <script src="/script/script-validacao.js" defer></script>
    <link rel="stylesheet" href="/css_geral/estilo_areaAdmin.css">
    <title>Área Administração</title>
</head>

<body>
    <!------------------------------------HTML BARRA DE NAVEGAÇÃO E MENU LATERAL INICIO------------------------------------------>
    <header>
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a href="/home" class="navbar-brand"><img src="/img/logopagina.png"
                        alt="Logo Coração">Laboratório<span>Vida</span></a>
            </div>
        </nav>
    </header>
    <div id="menu" class="container p-2">
        <ul class="list-group list-group-flush">
            <li id="click1" class="list-group-item"><i  class="bi bi-arrow-repeat  fs-1"></i>Atualização de Serviços</li>
            <li id="click2" class="list-group-item"><i  class="bi bi-clipboard-data  fs-1"></i>Relatórios</li>
            <li id="click3" class="list-group-item"><i class="bi bi-clipboard-pulse  fs-1"></i>Nova Consultas</li>
            <li id="click4" class="list-group-item "><i class="bi bi-bandaid  fs-1"></i>Novo Exames</li>
            <form action="/logoutAdmin" method="post">
                <button id="btnsair" type="submit"><i class="bi bi-box-arrow-right fs-1"></i>Sair</button>
            </form>
        </ul>
    </div>

    <!------------------------------------HTML PÁGINA ATUALIZAÇÃO DE SERVIÇOS INICIO--------------------------------------------->  
    <section id="atualizacao" class="container-fluid">
        <div>
            <h1 class="text-center">Atualização de Serviços</h1>
            <hr class="w-25 mx-auto">
            <div id="conteudo">
                <div th:if="${mensagem != null}" th:text="${mensagem}" class="alert alert-danger" role="alert"></div>
                <fieldset class="border rounded-2 p-3 m-1 col-5">
                    <legend class="float-none w-auto"> Consultas</legend>
                    <form action="/adicionarConsultas" method="post" class="needs-validation" novalidate>
                        <div class="col-12">
                            <label for="especialidade" class="form-label">Especialidade</label>
                            <input type="text" class="form-control" name="especialidade" id="especialidade" required>
                            <div class="invalid-feedback">
                                Você deve informar a Especialidade.
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="medico" class="form-label">Médico</label>
                            <input type="text" class="form-control" name="medico" id="medico" required>
                            <div class="invalid-feedback">
                                Você deve informar o nome do Médico.
                            </div>
                        </div>
                        <div class="col-3">
                            <label for="valor" class="form-label">Valor</label>
                            <input type="text" class="form-control" name="valor" id="valor" required>
                            <div class="invalid-feedback">
                                Você deve informar o Valor.
                            </div>
                        </div>
                        <button  class="btn btn-success m-2" type="submit">Adcionar</button>
                        
                    </form>
                </fieldset>
            </div>
            <div id="conteudo">
                <fieldset class="border rounded-2 p-3 m-1 col-5">
                    <legend class="float-none w-auto">Exames</legend>
                    <form action="/adcionarExames" method="post" class="needs-validation" novalidate>
                        <div>
                            <label for="nomeExame" class="form-label">Exame</label>
                            <input type="text" class="form-control" name="nomeExame" id="nomeExame" required>
                            <div class="invalid-feedback">
                                Você deve informar o nome do exame.
                            </div>
                        </div>
                        <div class="col-3">
                            <label for="valor" class="form-label">Valor</label>
                            <input type="text" class="form-control" name="valor" id="valor" required>
                            <div class="invalid-feedback">
                                Você deve informar o valor do exame.
                            </div>
                        </div>
                        <button class="btn btn-success m-2" type="submit">Adcionar</button>
                        
                    </form>
                </fieldset>
                
            </div>
            <div id="conteudo">
                <fieldset class="border rounded-2 p-3 m-1 col-5">
                    <legend class="float-none w-auto">Contato</legend>
                    <form action="atualizarContato" method="post" class="needs-validation" novalidate>
                        <div class="col-10">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                            <div class="invalid-feedback">
                                Você deve informar o email.
                            </div>
                        </div>
                        <div class="col-3">
                            <label for="telefone" class="form-label">Telefone</label>
                            <input type="text" class="form-control" name="telefone" id="telefone" required>
                            <div class="invalid-feedback">
                                Você deve informar o número do contato.
                            </div>
                        </div>
                        <button class="btn btn-success m-2" type="submit">Adicionar</button>
                    </form>
                </fieldset>
                <fieldset class="border rounded-2 p-3 m-1 col-5">
                    <legend class="float-none w-auto">Contato</legend>
                    <div id="tabelaconsultas">
                        <table class="table table-striped text-break">
                            <thead>
                                <tr >
                                    <th  scope="col">Email</th>
                                    <th scope="col">Telefone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  th:each="contatos:${contato}">
                                    <th class="text-capitalize"  th:text="${contatos.email}" scope="row"></th>
                                    <th class="text-capitalize" th:text="${contatos.telefone}" scope="row"></th>
                                    <th><a href="#" th:onclick="'window.location.href = \'' + @{/removerContato/{id}(id=${contatos.id})} + '\''" class="btn btn-danger">Excluir</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<form action="removerContato" method="post" class="needs-validation" novalidate>
                        <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                            <div class="invalid-feedback">
                                Você deve informar o email.
                            </div>
                        </div>
                        <div class="col-3">
                            <label for="telefone" class="form-label">Telefone</label>
                            <input type="text" class="form-control" name="telefone" id="telefone" required>
                            <div class="invalid-feedback">
                                Você deve informar o número do contato.
                            </div>
                        </div>
                        <button class="btn btn-danger m-2" type="submit">Remover</button>-->
                    </form>
                </fieldset>
            </div>
           
        </div>
    </section>

    <!------------------------------------HTML PÁGINA RELATÓRIOS----------------------------------------------------------------->
    <section id="relatorios" class="container-fluid">
        <h1 class="text-center">Relatórios</h1>
        <hr class="w-25 mx-auto">
        <div class="row g-3">
            <div class="col-6">
                <legend id="relatorioConsultas" class="text-center" ><i class="bi bi-clipboard-pulse  fs-1"></i>Consultas</legend>
                <hr class="w-25 mx-auto">
            </div>
            <div class="col-6">
                <legend id="relatorioExames" class="text-center"><i class="bi bi-bandaid  fs-1"></i>Exames</legend>
                <hr class="w-25 mx-auto">
            </div>
        </div>
        <div id="conteudo">
            <fieldset id="rConsultas" class="border rounded-2 p-3 m-1 col-5">
                <legend class="float-none w-auto">Consultas</legend>
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="dataInicialConsultas" class="form-label">Data inicial</label>
                        <input type="date" name="dataInicialConsultas" id="dataInicialConsultas" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <label for="dataFinalConsultas" class="form-label">Data Final</label>
                        <input type="date" name="dataFinalConsultas" id="dataFinalConsultas" class="form-control" required>
                    </div>
                    <div class="d-grid gap-2 col-5 mx-auto">
                        
                        <button id="exibirConsultasAgendadas" class="btn btn-success m-2" type="button">Exibir</button>
                    </div>
                    
                </form>
                <div id="listaagendamento" th:text="${agendamentos}"></div>
                <div id="listaagendamento" th:text="${agendamentoExames}"></div>
                <div id="tabelaconsultas">
                    <table class="table table-striped text-break">
                        <thead>
                            <tr>
                                <th scope="col">Especialidade</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Valor Unitário</th>
                                <th scope="col">Valor Total</th>
                            </tr>
                        </thead>
                        <tbody id="listaFiltradaConsultas">
                            
                        </tbody>
                        
                    </table>
                </div>
            </fieldset>
            <fieldset id="rExames" class="border rounded-2 p-3 m-1 col-5">
                <legend class="float-none w-auto">Exames</legend>
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="dataInicialExames" class="form-label">Data inicial</label>
                        <input type="date" name="dataInicialExames" id="dataInicialExames" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <label for="dataFinalExames" class="form-label">Data Final</label>
                        <input type="date" name="dataFinalExames" id="dataFinalExames" class="form-control" required>
                    </div>
                    <div class="d-grid gap-2 col-5 mx-auto">
                        <button id="exibirExamesAgendadas" class="btn btn-success m-2" type="button">Exibir</button>
                    </div>
                </form>
                <div id="tabelaexames">
                    <table class="table table-striped text-break">
                        <thead>
                            <tr>
                                <th scope="col">Tipo do Exame</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Valor Unitário</th>
                                <th scope="col">Valor Total</th>
                            </tr>
                        </thead>
                        <tbody id="listaFiltradaExames">
                            
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </section>
   
    <!------------------------------------HTML PÁGINA CONSULTAS INICIO----------------------------------------------------------->
    <section id="consultas" class="consultas">
        <div class="container">
            <h1 class="text-center">Agendar Consultas</h1>
            <hr class="w-25 mx-auto">
            <form action="/agendarConsultasAtendimento" method="post" class="needs-validation" novalidate>
                <fieldset class="border row g-3 rounded-2 p-3 m-2">
                    <legend class="float-none w-auto">Dados paciente</legend>

                    <div class="col-md-4">
                        <label for="paciente" class="form-label">Paciente :</label>
                        <input name="paciente" id="paciente" class="text-capitalize form-control">
                    </div>
                    <div class="col-md-2">
                        <label for="telefone" class="form-label">Telefone :</label>
                        <input class="form-control" name="telefone" id="telefone">
                    </div>
                    <div class="col-md-3">
                        <label for="email" class="form-label">E-mail :</label>
                        <input class="form-control" type="text" name="email" id="email">
                    </div>

                    <div class="col-md-2">
                        <label for="dataNascimento" class="form-label">Data de nascimento</label>
                        <input class="form-control" name="dataNascimento" type="date" id="dataNascimento" >
                    </div>
                    <div class="col-md-5">
                        <label for="especialidades" class="form-label">Especialidade</label>
                        <select th:text="${especialidadeMedicos}" onchange="filtrarMedicos()" class="form-select" name="especialidade" id="especialidades"
                            required>
                            
                        </select>
                    </div>
                    
                    <div class="col-md-4">
                        <label for="medicos" class="form-label">Médico</label>
                        <select onchange="filtarValor()" id="medicos" class="form-select" name="medicos" required>
                            <option >Selecione um medico</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <label for="valorConsulta" class="form-label">Valor Consulta</label>
                        <input type="text" name="valorConsulta" id="valorConsulta" class="form-control">
                    </div>

                    <div class="col-md-3">
                        <label for="dataAgendamentoConsulta" class="form-label">Selecione a data</label>
                        <input type="date" name="dataAgendamentoConsulta" id="dataAgendamentoConsulta"
                            class="form-control" required>
                    </div>
                    <div class="col-md-2">
                        <label for="horarioConsulta" class="form-label">Horário</label>
                        <input type="time" name="horarioConsulta" id="horarioConsulta" class="form-control" required>
                    </div>
                </fieldset>
                <div th:if="${mensagem != null}" th:text="${mensagem}" class="alert alert-danger" role="alert"></div>
                <button class="btn btn-success" type="submit">Salvar agendamento</button>
            </form>
        </div>
    </section>
    
    <!------------------------------------HTML PÁGINA EXAMES INICIO-------------------------------------------------------------->
    <section id="exames" class="exames">
        <div class="container">
            <h1 class="text-center">Agendar Exames</h1><hr class="w-25 mx-auto">
            <form action="/agendarExamesAtendimento" method="post" class=" needs-validation" novalidate>
                <fieldset class="border row g-3 rounded-2 p-3 m-2">
                    <legend class="float-none w-auto">Dados paciente</legend>
                    <div class="col-md-4">
                        <label for="paciente" class="form-label">Paciente</label>
                        <input type="text" class="form-control" name="paciente" id="paciente" required>
                        <div class="invalid-feedback">
                            Você deve informar seu nome.
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="telefone" class="form-label">Telefone</label>
                        <input type="text" name="telefone" id="telefone" class="form-control" required>
                    </div>
                    <div class="col-md-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" name="email" id="email" class="form-control" required>
                    </div>
                    
                    <div class="col-md-2">
                        <label for="idade" class="form-label">Data de nascimento</label>
                        <input type="date" name="idade" id="idade" class="form-control" required>
                    </div>
                    <div class="col-md-5">
                        <label for="medico" class="form-label">Médico Solicitante</label>
                        <input class="form-control" id="medico" name="medico" type="text" required>
                    </div>
                    <div class="col-md-4">
                        <label for="tipoExame" class="form-label">Tipo de exame</label>
                        <select onchange="filtarValorExame()" id="tipoExame" class="form-select" name="tipoExame" required>
                            <option> Selecione o tipo do exame</option>
                            <option th:each="exames:${tiposExames}"><span th:text="${exames.nomeExame}"></span></option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <label for="valorExame" class="form-label">Valor Exame</label>
                        <input type="text" name="valorExame" id="valorExame" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label for="agendamento" class="form-label">Selecione a data</label>
                        <input type="date" name="agendamento" id="agendamento" class="form-control" required>
                    </div>
                    <div class="col-md-2">
                        <label for="horario" class="form-label">Horário</label>
                        <input type="time" name="horario" id="horario" class="form-control" required>
                    </div>
                </fieldset>
                <button class="btn btn-success" type="submit">Salvar agendamento</button>
            </form>
        </div>
    </section>

    <script th:inline="javascript">
/***********************************chamada de todas as listas necessárias******************************************************/
       
             /*<![CDATA[*/
        let lista = /*[[${especialidadeMedicos}]]*/[];
            /*]]>*/

            /*<![CDATA[*/
        let listaAgendamentos = /*[[${agendamentos}]]*/[];
            /*]]>*/

            /*<![CDATA[*/
        let listaAgendamentoExames = /*[[${agendamentoExames}]]*/[];
            /*]]>*/
/***********************Filtro para eliminar as especialidades repetidas*******************************************************/
            const novaLista = lista.filter((list, index) => {
                return lista.findIndex(obj => obj.especialidade === list.especialidade) === index;
                
            });
            
        document.addEventListener('DOMContentLoaded', function () {
        const selectEspecialidade = document.querySelector('#especialidades');
        const elementoOptionEs = document.createElement('option');
        elementoOptionEs.textContent = "Selecione uma especialidade";
        selectEspecialidade.appendChild(elementoOptionEs);
        
            for(let list of novaLista){
                const elementoOption = document.createElement('option');
                elementoOption.textContent =  list.especialidade;
                selectEspecialidade.appendChild(elementoOption);
            }
            
        });
        function filtrarMedicos() {
            const selectEspecialidades = document.querySelector('select').value;
            const selectMedicos = document.querySelector('#medicos');
            selectMedicos.innerHTML = "";
            const elementoOptionVa = document.createElement('option');
                    elementoOptionVa.textContent = "Selecione um medico";
                    selectMedicos.appendChild(elementoOptionVa);
            for (let list of lista) {
                if (selectEspecialidades === list.especialidade) {
                    const elementoOption = document.createElement('option');
                    elementoOption.textContent =  list.medico;
                    selectMedicos.appendChild(elementoOption);
                }
            }
        }
        function filtarValor(){
            
            const selectMedicos = document.querySelector('#medicos').value;
            
            for(let list of lista){
                if(list.medico === selectMedicos){
                   document.getElementById('valorConsulta').value = list.valor;
                }
            }
        }
        function filtarValorExame(){
            
            /*<![CDATA[*/
        let listaExames = /*[[${tiposExames}]]*/[];
            /*]]>*/
            const selectExame = document.querySelector('#tipoExame').value;
            for(let list of listaExames){
                if(list.nomeExame === selectExame){
                   document.getElementById('valorExame').value = list.valor;
                }
            }
        }
      
/****************************Função para filtar os agendamentos de consultas por data*****************************************/      

function agendamentosFiltrados() {
  let dataInicialC = document.querySelector('#dataInicialConsultas').value;
  let dataFinalC = document.querySelector('#dataFinalConsultas').value;
  let tabela = document.querySelector('#listaFiltradaConsultas');
  var agendamentosFiltrados = listaAgendamentos.filter(function(agendamento) {
    return agendamento.dataAgendamentoConsulta >= dataInicialC && agendamento.dataAgendamentoConsulta <= dataFinalC;
  }).reduce(function (acc, curr) {
    if (typeof acc[curr.especialidade] == 'undefined') {
      acc[curr.especialidade] = {quantidade: 1, valorConsulta: curr.valorConsulta};
    } else {
      acc[curr.especialidade].quantidade += 1;
    }
    return acc;
  }, {});
  
  for (let [key, value] of Object.entries(agendamentosFiltrados)) {
    let linha = document.createElement('tr');
    let coluna = document.createElement('td');
    coluna.textContent = key;
    let quantidade = document.createElement('td');
    quantidade.textContent = value.quantidade;
    let valorUnitario = document.createElement('td');
    valorUnitario.textContent = value.valorConsulta;
    let valorTotalsoma = value.valorConsulta * value.quantidade;
    let valorTotal = document.createElement('td');
    valorTotal.textContent = valorTotalsoma;
    linha.appendChild(coluna);
    linha.appendChild(quantidade);
    linha.appendChild(valorUnitario);
    linha.appendChild(valorTotal);
    tabela.appendChild(linha);    
  }
}   
/**********************Evento para chamar a função para listar as consultas agendadas****************************************/   
    let eventoExibir = document.querySelector('#exibirConsultasAgendadas');

        eventoExibir.addEventListener('click', function(){
            agendamentosFiltrados();            
        });

/***********************Evento para chamar a função para listar as consultas agendadas**************************************/   
    let eventoExibirExames = document.querySelector('#exibirExamesAgendadas');

    eventoExibirExames.addEventListener('click', function(){
        agendamentosExamesFiltrados();    
    });

/**********************Função para filtar os agendamentos de exames por data***********************************************/
function agendamentosExamesFiltrados() {
  let dataInicialC = document.querySelector('#dataInicialExames').value;
  let dataFinalC = document.querySelector('#dataFinalExames').value;
  let tabela = document.querySelector('#listaFiltradaExames');
  var agendamentosFiltrados = listaAgendamentoExames.filter(function(agendamento) {
    return agendamento.dataAgendamentoExame >= dataInicialC && agendamento.dataAgendamentoExame <= dataFinalC;
  }).reduce(function (acc, curr) {
    if (typeof acc[curr.tipoExame] == 'undefined') {
      acc[curr.tipoExame] = {quantidade: 1, valorExame: curr.valorExame};
    } else {
      acc[curr.tipoExame].quantidade += 1;
    }
    return acc;
  }, {});
  
  for (let [key, value] of Object.entries(agendamentosFiltrados)) {
    let linha = document.createElement('tr');
    let coluna = document.createElement('td');
    coluna.textContent = key;
    let quantidade = document.createElement('td');
    quantidade.textContent = value.quantidade;
    let valorUnitario = document.createElement('td');
    valorUnitario.textContent = value.valorExame;
    let valorTotalsoma = value.valorExame * value.quantidade;
    let valorTotal = document.createElement('td');
    valorTotal.textContent = valorTotalsoma;
    linha.appendChild(coluna);
    linha.appendChild(quantidade);
    linha.appendChild(valorUnitario);
    linha.appendChild(valorTotal);
    tabela.appendChild(linha);    
  }
}   
 
    </script>
  
</body>

</html>