<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="ícone de atalho" href="/img/logopagina.png" type="image/x-icon">
    <link href="/css_geral/css_cadUsuario.css" rel="stylesheet">
    <script src="/script/script-live-reloader.js"></script>
    <script src="/script/script-validacao.js" defer></script>
    <title>Cadastro Login</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm barradenavegacao fixed-top">
            <div class="container-fluid">
                <a href="/home" class="navbar-brand"><img src="/img/logopagina.png" alt="Logo Coração"></a>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1 class="text-center fw-bold p-3">Novo Usuário</h1>
        <hr class="w-25 mx-auto">
        <form action="/cadastro/salvar_bd" method="post" id="campos" class="needs-validation" novalidate>
            <fieldset class="row g-3 border rounded-2 p-3 m-1">
                <legend class="float-none w-auto">Dados Pessoais</legend>
                <div class="col-md-6">
                    <label for="colaborador" class="form-label">Colaborador</label>
                    <input name="colaborador" type="text" id="colaborador" class="form-control" required>
                    <div class="invalid-feedback">
                        Você deve informar seu nome.
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">E-mail</label>
                    <input name="email" type="email" id="email" class="form-control" required>
                    <div class="invalid-feedback">
                        Você deve informar seu e-mail.
                    </div>
                    <div th:if="${mensagem != null}" th:text="${mensagem}" class="alert alert-danger" role="alert"></div>
                </div>
                <div class="col-md-3">
                    <label for="telefone" class="form-label">Telefone</label>
                    <input name="telefone" type="text" id="telefone" class="form-control" required>
                    <div class="invalid-feedback">
                        Você deve informar seu telefone.
                    </div>
                </div>
            </fieldset>
            
            <div id="campos-senha" class="row g-4">
                <div class="col-md-5 mx-auto">
                    <label for="senha" class="form-label">Senha</label>
                    <input name="senha" type="password" id="senha" class="form-control" required>
                    <div class="invalid-feedback">
                        Você deve informar sua senha de acesso.
                    </div>
                </div>
                <div class="col-md-5 mx-auto">
                    <label for="confirmar-senha" class="form-label">Confirme a Senha</label>
                    <input  type="password" id="confirmar-senha" class="form-control" required>
                    <div class="invalid-feedback">
                        Você deve confirmar sua senha de acesso.
                    </div>
                </div>
                <div class="d-grid gap-2 col-5 mx-auto">
                    <button class="btn btn-success btn-lg" type="submit">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>