<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        
    <link rel="stylesheet" href="/css_geral/estilo_login.css">
    
    <script src="/script/script-validacao.js" defer></script>
    <title>Login</title>
</head>

<body>
   <!---->
   <header>
        <nav class="navbar navbar-expand-sm barradenavegacao fixed-top">
            <div class="container-fluid">
                <a href="/home" class="navbar-brand"><img src="/img/logopagina.png" alt="Logo Coração"></a>
            </div>
        </nav>
    </header> 
    <div id="login">
        <div id="img-login">
            <img src="img/img-usuario-login.png" alt="imagem logo usuário">
        </div>
        <h1>Login Admin</h1>
        <form action="/validarAdmin" method="post" id="campos" class="needs-validation" novalidate>
            <div>
                <label for="email" class="form-label">E-mail</label>
                <input name="email" type="email" id="email" class="form-control" required="">
                <div class="invalid-feedback">
                    Você deve informar seu email.
                </div>
            </div>
            <div>
                <label for="senha" class="form-label">Senha</label>
                <input name="senha" type="password" id="senha" class="form-control" required="">
                <div class="invalid-feedback">
                    Você deve informar sua senha.
                </div>
            </div>
            <p><a href="#">Esqueci a senha</a></p>
            <div th:if="${mensagem != null}" th:text="${mensagem}" class="alert alert-danger" role="alert"></div>
            <input type="checkbox" name="lembreme" id="lembre-me">
            <label for="lembre-me">Lembrar-me</label>
            <button id="botao-login" type="submit">Entrar</button>
        </form>
    </div>
</body>

</html>